/* CSS File for stylings in index.html 
Authors: Devinn Chi, Stephanie Geber, Brady Brunswick, Sarah Sylvester
Project: ProDawgTivity */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Body */
/* Start --------------------------------------------------------------------------------------------------------------------------------------- */
body {
    background-image: url("Pictures/ppbg.png"); 
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: rgb(43, 134, 170);
    margin: 0;
    padding: 0;
    text-shadow: 0 0 2px white;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Main header and logo */
/* Start------------------------------------------------------------------------------------------------------------------------------------------ */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 100;
    text-shadow: 0 0 2px white;
}

.logo-header {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin: 5px;
    border: 5px solid darkblue;
    padding: 0px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
}

.logo:hover{
    background-color: green;
    border-style: ridge;
    border-width: 5px;
    border-color: cadetblue;
}

.logo-header {
    background-color: gray;
    display: flex;
}

.points-label {
    margin-right: 20px;
    text-shadow: 0 0 4px black;
}

.points-label-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
    z-index: 100;
}

.content {
    margin-top: 100px;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Headers */
/* Start---------------------------------------------------------------------------------------------------------------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    color: white;
    text-shadow: 0 0 4px black;
}

.header h1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px black;
}

.header h2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    text-shadow: 0 0 4px black;
}

.header h3 {
    font-size: 24px;
    color: white;
    text-shadow: 0 0 4px black;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Buttons */
/* Start---------------------------------------------------------------------------------------------------------------------------------------- */
.week-selector button {
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2b462c;
    color: white;
}

.week-selector button:hover {
    background-color: green;
    border-style: ridge;
    border-width: 3px;
    border-color: cadetblue;
    font-style: italic;
    color: black;
}

.add-task-form input,
.add-task-form button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 3px solid #110505;
}

.add-task-form button {
    cursor: pointer;
    background-color: #2b462c;
    color: white;
    border: none;
}

.add-task-form button:hover {
    background-color: green;
    border-style: ridge;
    border-width: 3px;
    border-color: cadetblue;
    font-style: italic;
    color: black;
}

.mapButton {
    background-color: #2b462c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

.mapButton:hover {
    background-color: green;
    border-style: ridge;
    border-width: 3px;
    border-color: cadetblue;
    font-style: italic;
    color: black;
}

.task-item-button {
    background-color: #2b462c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-item-button:hover {
    background-color: #2b462c;
}

.popup-button {
    background-color: #2b462c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    transition: background-color 0.3s ease;
}

.popup-button:hover {
    background-color: green;
    border-style: ridge;
    border-width: 3px;
    border-color: cadetblue;
    font-style: italic;
    color: black;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Dawg Environment */
/* Start---------------------------------------------------------------------------------------------------------------------------------------- */
.dawg-environment {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    text-shadow: 0 0 4px black;
}

.sprite-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sprite {
    width: 12vw;
    height: auto;
    position: absolute;
    z-index: 1;
}

.environment {
    width: 100%; 
    height: 100%;
    border-radius: 6px;
    border: 10px solid #000; 
    margin-top: 20px; 
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Calendar Table */
/* Start---------------------------------------------------------------------------------------------------------------------------------------- */
.calendar-table {
    background-color: #cfe9ff;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #000;
}

.calendar-table th,
.calendar-table td {
    text-align: center;
    padding: 20px;
    border: 1px solid #000;
}

.calendar-table th {
    background-color: #cfe9ff;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Popup */
/* Start---------------------------------------------------------------------------------------------------------------------------------------- */
.popup-gif {
    max-width: 50px;
    display: block; 
    margin-top: 10px; 
}

.task-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white; /* Change the background color to your desired color */
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-radius: 10px;
    border-style: ridge;
    border-width: 10px;
    border-color: cadetblue;
    text-align: center;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Undated Tasks */
/* Start---------------------------------------------------------------------------------------------------------------------------------------- */
#undated-tasks {
    width: 300px;
    border: 2px solid #000;
    padding: 20px;
    margin: 20px;
    background-color: #cfe9ff !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

#undated-tasks h3 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    color: black;
}

.undated-tasks-content {
    list-style: none;
    padding: 0;
}

.undated-tasks-content li {
    margin-bottom: 10px;
    font-size: 16px;
}

.undated-tasks button {
    width: 100%;
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    background-color: #2b462c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.undated-tasks button:hover {
    background-color: #4caf50;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tasks */
/* Start---------------------------------------------------------------------------------------------------------------------------------------- */
.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.task-list li {
    margin-bottom: 5px;
}

.add-task-form {
    margin-top: 20px;
    color: white;
    text-shadow: 0 0 4px black;
}

.add-task-form label {
    display: block;
    margin-bottom: 5px;
}

.task-box {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    max-width: 100%;
}

.task-box:hover{
    border: 3px solid rgb(0, 0, 0);
}

td {
    border: 1px solid #000;
    width: 100px;
}

.task-box {
    background-color: lightskyblue;
    border-radius: 10px;
}

.container {
    display: flex;
}

.add-task-form {
    flex: 0;
    margin-right: 200px; 
}

#undated-tasks {
    width: 240px;
    height: 240px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}
 .undated-tasks button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  #undated-tasks h3 {
    text-align: left;
    margin-top: 5px; 
    margin-bottom: 20px;
}
/* End------------------------------------------------------------------------------------------------------------------------------------------ */