body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;

    background-image: url("Pictures/HomeBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    }


    h1 {
        color: #333333; /* dark grey text */
        text-align: center;
        font-family: 'Georgia', sans-serif;
        position: absolute;
        top: 150px;
        left: 490px;
    }

    p {
        font-size: 14px;
        color: #555555; /* slightly lighter gray */
        text-align: center;
        font-family: 'Georgia', sans-serif;
        position: absolute;
        top: 300px;
        left: 750px;

    }

    .logo {
        width: 100px;
        height: auto;
        border: 5px solid darkblue;
        padding: 0px;
        border-radius: 10px;
        display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
        position: absolute;
        top: 50px;
        left: 580px; 
    }

    .scheduleButton {
        cursor: pointer;
        background-color: #2b462c;
        color: white;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 200px;
        left: 300px;
    }
    .scheduleButton:hover {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.5);
        color: #555555;
    }

    .mapButton {
        cursor: pointer;
        background-color: #2b462c;
        color: white;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 200px;
        left: 800px;
    }
    .mapButton:hover {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.5);
        color: #555555;
    }
