body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0
    }


    h1 {
        color: #333333; /* dark grey text */
        text-align: center;
        font-family: 'Georgia', sans-serif;
        position: absolute;
        top: 110px;
        left: 555px;
    }

    p {
        font-size: 14px;
        color: #555555; /* slightly lighter gray */
        text-align: center;
        font-family: 'Georgia', sans-serif;
        position: absolute;
        top: 300px;
        left: 750px;

    }

    .logo {
        width: 100px;
        height: auto;
        margin: 20px auto;
        border: 5px solid darkblue;
        padding: 0px;
        border-radius: 10px;
        display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
    }
    
    .shop {
        width: 200px;
        height: 270px;
        margin: 20px auto;
        padding: 0px;
        background-position: right;
        background-size: cover;

        position: absolute;
        top: 290px;
        left:50px;
    }
    .shopButton {
        font-size: 20px;
        border: 5px solid #fff;
        border-radius: 20px;
        color: #333333;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 600px;
        left: 100px;
    }
    .shopButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #555555;
    }

    .house {
        width: 400px;
        height: 300px;
        padding: 0px;
        background-position-x: 5000px;
        background-position-y: 5000px;
        background-size: cover;

        position: absolute;
        top: 320px;
        left: 170px;
    }
    .houseButton {
        font-size: 20px;
        border: 5px solid #fff;
        border-radius: 20px;
        color: #333333;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 600px;
        left: 330px;
    }
    .houseButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #555555;
    }

    .realEstate{
        width: 400px;
        height: 300px;
        padding: 0px;
        background-size: cover;

        position: absolute;
        top: 300px;
        left: 470px;
    }
    .realEstateButton {
        font-size: 20px;
        border: 5px solid #fff;
        border-radius: 20px;
        color: #333333;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 600px;
        left: 600px;
    }
    .realEstateButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #555555;
    }

    .carDealer{
        width: 500px;
        height: 400px;
        padding: 0px;
        background-size: cover;

        position: absolute;
        top: 275px;
        left: 850px;
    }
    .carDealerButton {
        font-size: 20px;
        border: 5px solid #fff;
        border-radius: 20px;
        color: #333333;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 600px;
        left: 1050px;
    }
    .carDealerButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #555555;
    }

    .scheduleButton {
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        border-radius: 20px;
        text-decoration: none;
        margin-top: 20px;
        padding: 10px;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 155px;
        left: 640px;
    }
    .scheduleButton:hover {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.5);
        color: #555555;
    }